:root {
    // font-family
    --body-font: 'Inter', sans-serif;

    // colors
    --main-color: #1C2A3A;
    --lotion-white: #FDFDFD;
    --cyan-green: #88B7A4;
    --accent-color: linear-gradient(to right, #316362, #88B7A4);

    // line-height
    --main-line: 24px;
}