:root {
    // font-family
    --body-font: 'Inter', sans-serif;

    // colors
    --main-color: #1c2a3a;
    --main-color2: #47535F;
    --lotion-white: #FDFDFD;
    --cyan-green: #88B7A4;
    --cyan-green2: #87B6A3;
    --accent-color: linear-gradient(to right, #316362, #88B7A4);
    --accent-color2: linear-gradient(to left, #316362, #88B7A4);
    --white-color: #fff;

    // line-height
    --main-line: 24px;
}