.appointment {
    padding: 60px 0 40px 0;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 45%;
        position: absolute;
        bottom: 0;
        background-color: #E5EFEB;
        z-index: -1;
    }
}
.appointment__row {
    display: flex;
    flex-direction: column;
}
.appointment--title {
    max-width: 420px;
    font-size: 32px;
    margin: 0 auto;
    padding-bottom: 36px;
    color: var(--main-color);
    text-align: center;
}
.appointment__pictures {
    & img {
        display: block;
        height: 500px;
        object-fit: contain;
    }
    & span {
        position: relative;
    }
}
.swiper .appointment__swiper {
    width: 100%;
    height: 100%;
}
.appointment__pictures--image {
    height: 500px !important;
}
.appointment__next-arr,
.appointment__next-arr2 {
    width: 58px;
    height: 17px;
    position: absolute;
    left: -48px;
    padding-bottom: 58px;
}

@media screen and (min-width: 375px) {
    .appointment__next-arr,
    .appointment__next-arr2 {
        left: -30px;
    }
}
@media screen and (min-width: 425px) {
    .appointment {
        padding: 85px 0 72px 0;
    }
    .appointment--title {
        position: relative;
        padding-bottom: 51px;


        &::before {
            content: "";
            width: 40px;
            height: 4px;
            position: absolute;
            top: 35px;
            left: 10px;
            background-color: var(--cyan-green);
        }
        &::after {
            content: "";
            width: 40px;
            height: 4px;
            position: absolute;
            top: 35px;
            right: 10px;
            background-color: var(--cyan-green);
        }
    }
}
@media screen and (min-width: 620px) {
    .appointment--title {
        font-size: 38px;
        padding-bottom: 70px;

        &::before {
            width: 60px;
            left: -40px;
        }
        &::after {
            width: 60px;
            right: -30px;
        }
    }
    .appointment__next-arr,
    .appointment__next-arr2 {
        padding-bottom: 87px;
    }
}
@media screen and (min-width: 1024px) {
    .appointment__pictures--image {
        height: 540px !important;
    }
    .appointment__next-arr,
    .appointment__next-arr2 {
        padding-bottom: 43px;
    }
}
@media screen and (min-width: 1200px) {
    .appointment--title {
        max-width: 620px;
        padding-bottom: 80px;

        &::before {
            top: 21px;
            left: -80px;
        }
        &::after {
            top: 21px;
            right: -78px;
        }
    }
    .appointment__pictures--row {
        justify-content: space-between;
    }
    .appointment__pictures--image {
        height: 600px !important;
        width: 300px !important;
    }
    .appointment__next-arr,
    .appointment__next-arr2 {
        top: 26px;
        padding-bottom: 0;
    }
}