.customers {
    padding: 60px 0 40px;
}
.customers__row {
}
.customers--title {
    max-width: 320px;
    width: 100%;
    font-size: 32px;
    margin: 0 auto;
    padding-bottom: 36px;
    color: var(--main-color);
    text-align: center;
}
.customers__swiper {
}
.customer__wrapper {
    padding-bottom: 40px;
}
.customers__slide {

}
.customers__slide--image {
    display: block;
    width: 226px;
    height: 252px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    padding-bottom: 20px;
}
.customers__slide--desc {
    max-width: 260px;
    font-size: 18px;
    text-align: justify;
    margin: 0 auto;
}
.customer__slide--name {
    display: block;
    max-width: 260px;
    font-size: 14px;
    margin: 0 auto;
    padding-top: 8px;
    color: #7E7E7E;
}
.customers__pagination {

    & .swiper-pagination-bullet  {
        width: 34px;
        height: 4px;
        border-radius: 0;
    }
    & .swiper-pagination-bullet-active {
        background-color: #5E8E84;
    }
}

@media screen and (min-width: 375px) {
    .customers__slide--desc,
    .customer__slide--name {
        text-align: center;
        max-width: 320px;
    }
}

@media screen and (min-width: 425px) {
    .customers--title {
        position: relative;

        &::before {
            content: "";
            width: 40px;
            height: 4px;
            position: absolute;
            top: 35px;
            left: -18px;
            background-color: var(--cyan-green);
        }
        &::after {
            content: "";
            width: 40px;
            height: 4px;
            position: absolute;
            top: 35px;
            right: -10px;
            background-color: var(--cyan-green);
        }
    }
    .customers__slide--desc,
    .customer__slide--name {
        max-width: 347px;
    }
}
@media screen and (min-width: 560px) {
    .customers__slide {
        padding-top: 40px;

        &::before {
            content: '';
            width: 260px;
            height: 300px;
            position: absolute;
            top: -5px;
            left: 65px;
            background-color: #E5EFEB;
            z-index: -1;
        }
    }
    .customers--title {
        &::before {
            left: -34px;
        }
        &::after {
            right: -20px;
        }
    }
    .customers__slide--desc {
        padding-top: 20px;
    }
}

@media screen and (min-width: 620px) {
    .customers {
        padding: 85px 0 60px;
    }
    .customers--title {
        font-size: 38px;

        &::before {
            width: 60px;
            left: -62px;
        }
        &::after {
            width: 60px;
            right: -52px;
        }
    }
    .customers__slide--desc {
        max-width: 486px;
        padding-top: 28px;
    }
}
@media screen and (min-width: 820px) {
    .customers__slide::before {
        left: 180px;
    }
}
@media screen and (min-width: 1024px) {
    .customers__slide {
        display: grid !important;
        grid-template-columns: 350px auto;
        align-items: center;
        column-gap: 56px;
        min-height: 430px !important;
        left: 60px;
        padding-top: 60px;
        margin: 0 auto;
    }
    .customers__slide::before {
        height: 430px;
        top: 44px;
        left: 20px;
    }
    .customers__slide--image,
    .customers__slide--desc,
    .customer__slide--name {
        margin: 0;
        padding: 0;
    }
    .customers__slide--image {
        justify-self: right;
    }
    .customers__slide--desc {
        text-align: left;
        font-size: 20px;
        line-height: 26px;
    }
    .customer__slide--name {
        max-width: 100%;
        text-align: left;
        font-size: 16px;
        grid-column: 2 / 3;
        padding-top: 10px;
    }
}
@media screen and (min-width: 1200px) {
    .customers--title {
        max-width: 528px;

        &::before {
            top: 24px;
        }
        &::after {
            top: 24px;
        }
    }
    .customers__slide {
        column-gap: 80px;
    }
    .customers__slide--desc {
        max-width: 525px;
        font-size: 22px;
        line-height: 28px;
    }
    .customer__slide--name {
        font-size: 18px;
    }
}