.footer {
    position: relative;
    min-height: 910px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--accent-color);
        z-index: -1;
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        z-index: -1;
        clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
    }
}
.footer__row {
    padding-top: 200px;
}
.footer__contacts {
}
.footer__contacts--title {
    max-width: 320px;
    width: 100%;
    font-size: 32px;
    margin: 0 auto;
    padding-bottom: 32px;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        width: 34px;
        height: 4px;
        position: absolute;
        top: 13px;
        left: 10px;
        transform: translateY(-50%);
        background-color: var(--cyan-green);
    }
    &::after {
        content: '';
        width: 34px;
        height: 4px;
        position: absolute;
        top: 12px;
        right: 10px;
        transform: translateY(50%);
        background-color: var(--cyan-green);
    }
}
.footer__contacts--desc {
    max-width: 410px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 16px;
    margin: 0 auto;
}
.footer__contacts--socials-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    list-style: none;
    padding-bottom: 50px;
}
.footer__socials--item {
    width: 32px;
    height: 32px;

    & img {
        width: 100%;
        height: 100%;
    }
}
.footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 410px;
    margin: 0 auto;

    & label {
        font-size: 18px;
        margin-bottom: 2px;
        color: var(--lotion-white);
        position: relative;

        &::after {
            content: '*';
            position: absolute;
            color: var(--cyan-green);
        }
    }
}
.footer__form--item {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;   
  padding: 0 10px;
  
}
.textarea {
  min-height: 200px;
  padding: 10px;
}
.footer__btn {
    display: flex;
    max-width: 100%;
    border: none;
}
.footer__bottom {
    font-size: 15px;
    padding: 32px 0 20px;
    text-align: center;
    color: var(--lotion-white);
}
@media screen and (min-width: 768px) {
    .footer__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .footer__bottom {
        width: 100%;
    }
}