.header {
    position: relative;
    z-index: 1;
    padding-top: 18px;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 858px;
        background-color: var(--main-color);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    }
    &::after {
        content: '';
        position: absolute;
        z-index: -2;
        top: 0;
        width: 100%;
        height: 858px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        background: var(--accent-color);
    }
}
.header__row {
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu--logo {
    transition: opacity .3s ease;
    & img {
        display: block;
        width: 67px;
        height: 60px;
    }
    &:hover {
        opacity: .7;
    }
    &:active {
        opacity: 1;
    }
}
.header__nav {
}
.header__sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 240px;
    width: 100%;
    padding: 60px 0 0 24px;
    background: var(--accent-color);
}
.header__sidebar--link {
    display: block;
    font-size: 18px;

    & + * {
        margin-top: 20px;
    }
}
.header__nav--link {
    display: none;
}
.header__btn {
    display: none;
}
.header__sidebar--btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 6px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0 4px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .5);
    background: var(--accent-color);
    cursor: pointer;

    & span {
        display: flex;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: var(--lotion-white);
    }
}
.header__main {
}
.header__main--content {
}
.header__content--title {
}
.header__content--desc {
}
.header__content--btn {
}
.header__content--arrow-img {
}
.header__main--image {
}