.header {
    position: relative;
    padding-top: 18px;
    z-index: 1000;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 858px;
        background-color: var(--main-color);
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    }
    &::after {
        content: '';
        position: absolute;
        z-index: -2;
        top: 0;
        width: 100%;
        height: 858px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
        background: var(--accent-color);
    }
}
.header__menu {
    position: fixed;
    top: 0;
    left: -15px;
    right: -15px;
    z-index: 1;
    transition: all .5s ease;
}
.header__menu--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header__menu--logo {
    
    & svg {
        display: block;
        width: 67px;
        height: 60px;

        & path {
            transition: fill .3s ease;
        }
    }
    &:hover svg {

        path {
            fill: var(--cyan-green);
        }
    }
    &:active svg {
        path {
            fill: var(--lotion-white);
        }
    }
}
.header__sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    max-width: 240px;
    width: 100%;
    transform: translateX(240px);
    padding: 60px 0 0 24px;
    background: var(--accent-color);
    transition: transform .4s ease;
}
.header__shade {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}
.header__sidebar--link {
    display: block;
    font-size: 18px;

    & + * {
        margin-top: 20px;
    }
}
.header__nav {
    display: none;
}
.header__btn {
    display: none;
}
.header__sidebar--btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 6px;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1000;
    border: none;
    padding: 0 4px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .5);
    background: var(--accent-color);
    cursor: pointer;
    transition: opacity .2s ease;

    &:hover {
        opacity: .8;
    }
    &:active {
        opacity: 1;
    }

    & span {
        display: flex;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: var(--lotion-white);
        transition: all .3s ease;
    }
}
.header__sidebar--btn.close-btn {

    & span {
        position: relative;
    }
    & span:nth-child(1){
        transform: rotate(45deg);
        top: 5px;
    }
    & span:nth-child(2) {
        display: none;
    }
    & span:nth-child(3){
        transform: rotate(-45deg);
        bottom: 5px;
    }
}
.header__main {
    padding-top: 110px;
}
.header__main--content {
    max-width: 620px;
    margin-bottom: 60px;
}
.header__content--title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;

    & span {
        color: var(--cyan-green);
    }
}
.header__content--desc {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}
.header__content--btn {
    font-size: 16px;
    max-width: 185px;
    height: 44px;

    &:hover {
        background: var(--accent-color2);
    }
}
.header__content--arrow-img {
    display: none;
}
.header__main--image {
    display: block;

    & img {
        display: block;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 375px) {
    .header__content--title {
        font-size: 44px;
        line-height: 44px;
        margin-bottom: 18px;
    }
    .header__content--desc {
        font-size: 18px;
        line-height: 24px;
    }
    .header__content--btn {
        font-size: 18px;
        max-width: 200px;
        height: 50px;
    }
}
@media screen and (min-width: 435px) {
    .header__content--title {
        font-size: 52px;
        line-height: 58px;
    }
    .header__content--desc {
        max-width: 450px;
    }
}
@media screen and (min-width: 768px) {
    .header__nav {
        display: flex;
        column-gap: 30px;
    }
    .header__nav--link {
        font-size: 18px;
    }
    .header__sidebar--btn,
    .header__sidebar,
    .header__shade {
        display: none !important;
    }
    .header__btn {
        display: flex;
        max-width: 185px;
        font-size: 18px;
        color: var(--lotion-white);
        background: var(--accent-color2);

        &:hover {
            background: var(--accent-color);
        }
    }
    .header__main--row {
        position: relative;
        padding-top: 100px;
    }
    .header__main--image {
        position: absolute;
        top: 25px;
        right: 10px;

        & img {
            max-width: 240px;
        }
    }
}
@media screen and (min-width: 920px) {
    .header__main--image {
        right: 30px;

        & img {
            max-width: 280px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .header__content--title {
        font-size: 60px;
        line-height: 70px;  
    }
    .header__content--desc {
        max-width: 560px;
        font-size: 21px;
        line-height: 28px;
    }
    .header__main--image {

        & img {
            max-width: 300px;
            height: 600px;
        }
    }
}
@media screen and (min-width: 1180px) {
    .header__menu--row {
        padding: 10px 0;
    }
}