.info {
    min-height: 366px;
    padding: 60px 0;
    background-image: url('/image/info/info-bg-2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .6);
        z-index: 1
    }
}
.info__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    list-style: none;
    text-align: center;
    z-index: 2;
}
.info__list--item {
    & + * {
        margin-top: 60px;
    }
    &:nth-child(3) span::after {
        content: 'k';
    }
}
.info__item--quantity {
    display: inline-block;
    font-size: 42px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 8px;

    &::after {
        content: '+';
    }
}
.info__item--subtitle {
    font-size: 28px;
    font-weight: 400;
    color: #323F4D;
}

@media screen and (min-width: 768px) {
    .info__row {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 366px;
    }
    .info__list {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .info__list--item {
        margin: 0;
    }
    .info__item--quantity {
        margin-bottom: 14px;
    }
}
@media screen and (min-width: 1200px) {
    .info {
        margin: 40px 0;
    }
    .info__list {
        justify-content: space-between;
    }
    .info__item--quantity {
        font-size: 48px;
        margin-bottom: 16px;
    }
    .info__item--subtitle {
        font-size: 34px;
    }
}