.map {
    background-image: url('/image/map/map.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 696px;
    padding: 40px 0 60px;
}
.map__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map__image {
    & img {
        height: 500px;
        object-fit: contain;
    }
}
.map__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    margin-bottom: 60px;
}
.map__content--title {
    font-size: 32px;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}

.map__content--desc {
    font-size: 18px;
    text-align: center;
    color: var(--main-color2);
}
@media screen and (min-width: 375px) {
    .map__content--title {
        display: inline-block;
        font-size: 28px;
        max-width: 300px;
        position: relative;
    
        &::before {
            content: '';
            width: 34px;
            height: 4px;
            position: absolute;
            top: 50%;
            left: -5px;
            transform: translateY(-50%);
            background-color: var(--cyan-green);
        }
        &::after {
            content: '';
            width: 34px;
            height: 4px;
            position: absolute;
            top: 50%;
            right: -5px;
            transform: translateY(50%);
            background-color: var(--cyan-green);
        }
    }
}
@media screen and (min-width: 620px) {
    .map__content--title {
        font-size: 38px;
        max-width: 400px;
    }
}
@media screen and (min-width: 768px) {
    .map__row {
        flex-direction: row;
        justify-content: space-around;
    }
    .map__content {
        order: 2;
        margin: 0;
    }
    .map__image img {
        height: 460px;
    }
}
@media screen and (min-width: 1024px) {
    .map__content--desc {
        font-size: 20px;
    }
    .map__content--title {
        &::before {
            left: -20px;
        }
        &::after {
            right: -16px;
        }
    }
    .map__image img {
        height: 540px;
    }
}
@media screen and (min-width: 1200px) {
    .map {
        padding-top: 120px;
    }
    .map__content {
        max-width: 420px;
    }
    .map__content--title {
        font-size: 48px;
        &::before {
            left: -80px;
            width: 64px;
        }
        &::after {
            right: -74px;
            width: 64px;
        }
    }
    .map__content--desc {
        font-size: 22px;
        line-height: 26px;
    }
    .map__image img {
        height: 600px;
    }
}
@media screen and (min-width: 1440px) {
    .map__row {
        justify-content: space-between;
    }
    .map__content {
        margin-right: 65px;
    }
}